.header {
  text-align: center;
  padding-top: 23px;
}
.container-drag {
  padding-left: 15%;
  display: flex;
}
.wip {
  width: 40%;
}
.droppable {
  width: 40%;
}
.button {
  width: 5%;
  padding: 5px;
  padding-top: 10%;
}
.task-header {
  text-align: center;
}
@media (max-width: 900px) {
  .login-pic {
    display: none;
  }
  .login-form {
    width: 384px;
    padding: 2em;
  }
  .login-wrapper {
    width: 384px;
  }
}
